@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

/* #8F3A84  */
/* background-image: radial-gradient( circle farthest-corner at 50.3% 47.3%,  rgba(113,42,92,1) 0.1%, rgba(40,25,46,1) 90% ); */
.main-px {
  padding-left: 180px;
  padding-right: 180px;
}

.bg-dark-th {
  background-color: #161616;
}

.font-monst {
  font-family: "Montserrat", sans-serif;
}

.font-lora {
  font-family: "Lora", serif;

}

h1 {
  font-family: "Lora", serif;

}
p{
    font-family: "Montserrat", sans-serif;
}
button{
  font-family: "Montserrat", sans-serif;
}
a{
  font-family: "Montserrat", sans-serif;
}
.card-about:hover{
  transition: .5s all ease;
  background-color: #f6f6f6;
}
.card-about:hover h3{
  color: black;
}
.card-about:hover p{
  color: black;
}
.card-about h3,p{
  color: white;
}