@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import "tailwindcss";

*{
  font-family: "Krona One", sans-serif;
}
.main-px{
  padding-left: 180px;
  padding-right: 180px;
}
.bg-dark-th{
  background-color: #161616;
}
